body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MUIDataTableHeadCell-fixedHeader-47 {
  background-color: dodgerblue !important;
  color: white !important;
}

.MuiTableCell-head {
  border: 0.5px solid white !important;
}

.MuiButton-label {
  color : white !important;
  font-weight: bolder;
}